html, body {
  font-family: 'Courier New', Courier, monospace;
  margin: 10;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

.square {
  width: 20px;
  height: 20px;
  background-color: black;
}

.snake {
  background-color: white;
  
}

.apple {
  background-color: rgb(10, 160, 85);
}

#start {
  background-color: green;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  padding: 12px 28px;
  border: none;
  transition-duration: 0.4s;

}

#start:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}