html, body {
  margin: 10;
  padding: 10;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 400px;
  border: solid 2px black;
}

.square {
  width: 20px;
  height: 20px;
  background-color: black;
}

.snake {
  background-color: white;
  
}

.apple {
  background-color: rgb(10, 160, 85);
}