html, body {
  font-family: 'Courier New', Courier, monospace;
  margin: 10;
  padding: 10;
  background-color: rgb(190, 190, 190);
  background-image: url('https://st.depositphotos.com/2400497/2917/v/600/depositphotos_29175525-stock-illustration-cartoon-snake.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  height: 200px;
  border: solid 2px black;
}

.square {
  width: 20px;
  height: 20px;
  background-color: black;
}

.snake {
  background-color: white;
  
}

.apple {
  background-color: rgb(10, 160, 85);
}

#start {
  background-color: green;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: 16px;
  font-weight: 900;
  padding: 12px 28px;
  border: none;
  transition-duration: 0.4s;

}

#start:hover {
  background-color: #4CAF50; /* Green */
  color: white;
}